{% load static %}
<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <div class="w-25">
                    <img class="w-100" src="{% static 'media/brgy_info/logo.png' %}">
                </div>
                <span class="b-title">Masili Portal</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li data-username="dashboard"
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i class="fas fa-tachometer-alt"></i></span><span
                            class="pcoded-mtext">Dashboard</span></a>
                </li>
                <li class="nav-item pcoded-hasmenu {% if 'brgy_info' in segment %} active pcoded-trigger {% endif %}">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="fas fa-info"></i></span><span
                            class="pcoded-mtext">Barangay Information</span></a>
                    <ul class="pcoded-submenu">
                        <li class="{% if 'general' in segment %} active {% endif %}"><a href="{% url 'brgy_info' %}" class="">General Info</a></li>
                        <li class="{% if 'purok' in segment %} active {% endif %}"><a href="{% url 'brgy_purok' %}" class="">List of Purok</a></li>
                    </ul>
                </li>
                <li data-username="resident"
                    class="nav-item {% if 'residents' in segment %} active {% endif %}">
                    <a href="{% url 'brgy_residents' %}" class="nav-link "><span class="pcoded-micon"><i class="fas fa-users"></i></span><span
                            class="pcoded-mtext">Residents</span></a>
                </li>

                <li class="nav-item pcoded-menu-caption">
                    <label>Forms and Writers</label>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
